/* Global */
:root {
    /* Color */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-blue:#007DB2;
    --color-dark-grey: #707070;
    --color-light-white: #F2F2F2;
    --color-grey: #A4ADB3;
    --color-blue: #009EE3;
    --color-petrol: #0D5C7E;
    --color-light-grey:#f8f4f4cb;
   
   /* Font size */
   --font-large: 50px;
   --font-medium: 30px;
   --font-regular: 22px;
   --font-reguar-small:20px;
   --font-small: 14px;
   --font-micro: 12px;
 
   /* Font weight */
   --weight-bold: 700;
   --weight-extra:800;
   --weight-semi-bold: 600;
   --weight-regular: 400;
 
 }
 /* Universal tags */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: open sans;
    margin: 0;
  }
  
  a {
    text-decoration: none; 
    
  }
  
  
/* Navbar */

.navbar__logo img {
    width:5%;
    height:5%;
 
  }